<a href="https://colab.research.google.com/github/mayarans/chess_game/blob/master/Tratamento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df= pd.read_csv('/content/drive/My Drive/acidentes2022_todas_causas_tipos.csv',sep=';',encoding = 'unicode_escape')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519023 entries, 0 to 519022
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      519023 non-null  int64
 1   pesid                   472415 non-null  float64
 2   data_inversa            519023 non-null  object
 3   dia_semana              519023 non-null  object
 4   horario                 519023 non-null  object
 5   uf                      519023 non-null  object
 6   br                      517052 non-null  float64
 7   km                      517052 non-null  object
 8   municipio               519023 non-null  object
 9   causa_principal         519023 non-null  object
 10  causa_acidente          519023 non-null  object
 11  ordem_tipo_acidente     519023 non-null  int64
 12  tipo_acidente           519023 non-null  object
 13  classificacao_acidente  519023 non-null  object
 14  fase_dia                519023 non-null  object
 15  sentido_via             519023 non-null  object
 16  condicao_metereologica  519023 non-null  object
 17  tipo_pista              519023 non-null  object
 18  tracado_via             519023 non-null  object
 19  uso_solo                519023 non-null  object
 20  id_veiculo              519023 non-null  int64
 21  tipo_veiculo            519023 non-null  object
 22  marca                   495499 non-null  object
 23  ano_fabricacao_veiculo  489336 non-null  float64
 24  tipo_envolvido          519023 non-null  object
 25  estado_fisico           519023 non-null  object
 26  idade                   411343 non-null  float64
 27  sexo                    519023 non-null  object
 28  ilesos                  519023 non-null  int64
 29  feridos_leves           519023 non-null  int64
 30  feridos_graves          519023 non-null  int64
 31  mortos                  519023 non-null  int64
 32  latitude                519023 non-null  object
 33  longitude               519023 non-null  object
 34  regional                519006 non-null  object
 35  delegacia               512155 non-null  object
 36  uop                     518620 non-null  object
dtypes: float64(4), int64(7), object(26)
memory usage: 146.5+ MB

In [ ]:
a = df[df['causa_principal']=="Não"]
a[['causa_principal','causa_acidente']]

       causa_principal                            causa_acidente
10                 Não  Reação tardia ou ineficiente do condutor
11                 Não  Reação tardia ou ineficiente do condutor
12                 Não  Reação tardia ou ineficiente do condutor
13                 Não  Reação tardia ou ineficiente do condutor
14                 Não  Reação tardia ou ineficiente do condutor
...                ...                                       ...
518988             Não                        Pista Escorregadia
518989             Não                        Pista Escorregadia
518990             Não                        Pista Escorregadia
518991             Não                        Pista Escorregadia
518992             Não                        Pista Escorregadia

[221658 rows x 2 columns]

In [ ]:
df.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,405147,911178.0,2022-01-01,sábado,00:10:00,CE,222.0,"2,8",FORTALEZA,Sim,...,Masculino,1,0,0,0,"-3,73911117","-38,58687498",SPRF-CE,DEL01-CE,UOP01-DEL01-CE
1,405147,911179.0,2022-01-01,sábado,00:10:00,CE,222.0,"2,8",FORTALEZA,Sim,...,Masculino,0,0,1,0,"-3,73911117","-38,58687498",SPRF-CE,DEL01-CE,UOP01-DEL01-CE
2,405149,912796.0,2022-01-01,sábado,01:30:00,PE,104.0,63,CARUARU,Sim,...,Feminino,0,1,0,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE,UOP01-DEL02-PE
3,405149,912793.0,2022-01-01,sábado,01:30:00,PE,104.0,63,CARUARU,Sim,...,Masculino,0,0,1,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE,UOP01-DEL02-PE
4,405149,913204.0,2022-01-01,sábado,01:30:00,PE,104.0,63,CARUARU,Sim,...,Não Informado,0,0,0,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE,UOP01-DEL02-PE